
@media (max-width:500px)
{

   .p {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .flex-2 {
       display: flex;
       align-items: center;
   }

   .obj-4 {
       text-align: center;
   }
   
   .flexx {
       gap: 10px;
   }

   .allwork {
       display: flex;
       align-items: center;
       max-width: 500px;
       flex-direction: column;
   }

   .bkcool {
       max-width: 500px;
   }

   .phot {
       max-width: 150px;
   }

   .elevens {
       font-size: 11px;
   }

   footer img {
       max-width: 500px;
   }

   .lasttt {
       justify-content: center;
       align-items: center;
   }

   .hugept {
       max-width: 10px;
   }

   .slidebarwork {
       margin-right: auto;
       margin-left: auto;
       display: flex;
       justify-content: center;
   }

   .findproperties,.moneycase {
       width: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .witout {
       max-width: 500px;
       display: flex;
       gap: 170px;
   }
}